
# Misc ignores
/docs

# Client ignores
/client/node_modules
/client/dist
/client/package-lock.json

# Server ignores
/server/dist/
/server/node_modules
/server/package-lock.json
/server/.env
/server/logs